/*--------------------------------------------------------------------------------------*/
/* STYLE UNIVERSEL */
/*--------------------------------------------------------------------------------------*/

*{
    font-family: 'Libre Baskerville', serif;
}
html{
    background: url(../img/background-front-office.jpg) no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    margin: 0;
}
body{
    background-color: rgba(202, 235, 242, 0.6);
    margin: 0;
    padding-bottom: 16px;
}
a{
    text-decoration: none;
    color: black;
}
hr{
    width: 80%;
    margin: 0 auto;
}
/*--------------------------------------------------------------------------------------*/
/* STYLE DU HEADER DU TEMPLATE */
/*--------------------------------------------------------------------------------------*/

h1{
    text-align: center;
    font-size: 3.0em;
    margin: 0;
    padding: 30px 0 50px 0;
}
h2{
    text-align: center;
    font-size: 2.0em;
}
nav{
    display: flex;
    justify-content: space-around;
    font-size: 1.2em;
    font-weight: bold;
}
nav a{
        max-width: 100px;
        text-align: center;
}
    @media screen and (max-width: 550px)
    {
        h1{
            font-size: 2.0em;
            padding: 30px 0;
        }
        h2{
            font-size: 1.5em;
        }
        nav,
        nav a{
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
    
        nav a:hover{
            color: #76323F;
            transition: color 0.5s;
        }
    nav .account-access a{
        display: block;
    }
.welcome{
    text-align: center;
}
.username{
    color: #76323F;
}

/*--------------------------------------------------------------------------------------*/
/* STYLE DU FORMULAIRE */
/*--------------------------------------------------------------------------------------*/

form{
    display: block;
    margin: 0 auto;
}
    form p{
        margin: 0;
    }
input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
}
    input[type=radio]{
        width: 10%;
    }
#chapterNumber{
    width: 5%;
}
#title{
    width: 50%;
}
.radios{
    display: flex;
    justify-content: space-around;
}
textarea{
    width: 100%;
    height: 300px;
    padding: 0;
    text-align: center;
}
    .tinyMCE{
        height: 100vh;
    }
select{
    display: block;
    margin: 0 auto;
}
.filter-confirm{
    width: 150px;
}

#register-form{
	background: floralwhite;
    padding: 20px;
}
/*--------------------------------------------------------------------------------------*/
/* STYLE DU CONTENU */
/*--------------------------------------------------------------------------------------*/

.link-standard{
    color: blue;
    text-decoration: underline;
}
.content{
    width: 60%;
    margin: 100px auto 0;
    text-align: justify;
    font-size: 1.2em;
}
    @media screen and (max-width: 1200px){
        .content{
            width: 90%;
          	margin: 50px auto 0;
        }
    }
    @media screen and (max-width: 550px){
        .content{
            text-align: left;
        }
    }
.filler{
    padding-bottom: 60%;
}
.redirection{
    display: flex;
    justify-content: space-between;
    margin: 50px 0 0 0;
}
    .redirection a{
        color:#1E392A;
		background-color: #eeeeee; /* Old browsers */
		background-color: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6-15 */
		background-color: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
		background-color: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */


        padding: 12px 10px;
        font-weight: bold;
    }
    @media screen and (max-width: 850px){
        .redirection,
        .redirection a{
            display: block;
            text-align: center;
        }
    }
    .redirection a:hover{
        color: #76323F;
      	background-color: #b0d4e3; /* Old browsers */
        background-color: -moz-linear-gradient(top,  #b0d4e3 0%, #88bacf 100%); /* FF3.6-15 */
        background-color: -webkit-linear-gradient(top,  #b0d4e3 0%,#88bacf 100%); /* Chrome10-25,Safari5.1-6 */
        background-color: linear-gradient(to bottom,  #b0d4e3 0%,#88bacf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b0d4e3', endColorstr='#88bacf',GradientType=0 ); /* IE6-9 */
      	transition: color 0.5s, background-color 0.5s;
    }
    
.img-container{
  	text-align: center;
}

@media screen and (max-width: 768px){
  	img{
      	transform: scale(0.8);
  	}
}
@media screen and (max-width: 550px){
  	img{
      	transform: scale(0.5);
  	}
}

.chapter-icon{
    border: 1px solid black;
    margin: 15px 0;
    text-align: center;
    box-shadow: 2px 2px 5px black;
    transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
}
    .chapter-icon:hover{
        box-shadow: -2px -2px 5px black;
        background-color: rgba(220, 178, 57, 0.5);
        color: #76323F;
        transition: box-shadow 0.5s, background-color 0.5s, color 0.5s;
    }

.chapter{
    padding: 10px;
    background: #FFF;
}
.chapter-content{
    padding: 50px 0;
    text-align: left;
}
.chapter-links{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.limiter{
    border-bottom: 1px dotted black;
    padding-bottom: 10px;
}
.comment{
    background: #FFF;
}
.comment-description{
    margin: 0;
    padding: 10px 0;
}
.comment-author{
    color: #76323F;
}
.comment-date{
    color: grey;
}
.comment-content{
    padding: 50px 0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.comment-counts{
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.container{
    display: flex;
    justify-content: space-around;
}
    .container img:hover{
        transform: scale(1.1);
        transition: transform 0.5s;
    }






























